@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.header {
  background-color: #1C0824;
}
.header nav div {
  background-color: #1C0824;
}
.header nav div a {
  color: #F7CB84;
  font-family: "Buda", serif;
}
.header nav div div ul li {
  text-align: right;
}
.header nav div div ul li a {
  color: #F7CB84;
  font-family: "Buda", serif;
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #1C0824;
  }
  .header nav div {
    background-color: #1C0824;
  }
  .header nav div a {
    color: #F7CB84;
    font-family: "Buda", serif;
  }
  .header nav div div ul li {
    text-align: right;
  }
  .header nav div div ul li a {
    color: #F7CB84;
    font-family: "Buda", serif;
  }
}
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
body {
  background-color: #000000;
  width: 100%;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #000000;
    width: 100%;
  }
}
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
footer {
  background-color: #230E2D;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
}
footer .ul_footer {
  background-color: #1C0824;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .ul_footer .ul_footer_li {
  width: fit-content;
  margin: auto;
}
footer .ul_footer .ul_footer_li a img {
  width: 2rem;
  filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg);
}

/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.main-index {
  width: 100%;
  margin: auto;
}
.main-index .div-foto-1-index {
  padding: 1rem;
  background-color: #000000;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .div-foto-1-index .foto-1-index {
  max-width: 100%;
  max-height: 100%;
}
.main-index .section-1 {
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-index .section-1 .div-50-aniver img {
  width: 100%;
}
.main-index .section-1 .texto-50-aniver {
  background-color: #230E2D;
}
.main-index .section-1 .texto-50-aniver .titulo-texto-50-aniver {
  padding: 1rem;
  margin: 1rem auto;
  color: #B0795C;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #1C0824;
  width: 90%;
}
.main-index .section-1 .texto-50-aniver .p50ani {
  padding: 0 10px;
  color: #F7CB84;
  font-family: "Buda", serif;
  font-size: 1.2 em;
}
.main-index .imag-index {
  padding: 1rem 0;
  margin: 1rem auto;
  background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
  border-radius: 10px;
  width: 95%;
}
.main-index .imag-index .titulo-imag-index {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  color: #B0795C;
  padding: 1rem 0 0 0;
  text-align: center;
}
.main-index .imag-index .imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-index .imag-index .imagenes img {
  border: 1px solid #1C0824;
  border: solid 3px;
  width: 90%;
  object-fit: cover;
  margin: 0.5rem 0;
  max-width: 768px;
}

@media screen and (min-width: 768px) {
  .main-index {
    width: 95%;
  }
  .main-index .div-foto-1-index {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .main-index .section-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .main-index .section-1 .div-50-aniver {
    width: 50%;
  }
  .main-index .section-1 .texto-50-aniver {
    width: 50%;
    background-color: #1C0824;
  }
  .main-index .section-1 .texto-50-aniver .titulo-texto-50-aniver {
    margin-top: 0;
    width: 100%;
    color: #B0795C;
    background-color: #230E2D;
    font-family: "Courier New", Courier, monospace;
  }
  .main-index .section-1 .texto-50-aniver .p50ani {
    margin: auto;
    color: white;
    font-size: 1.2em;
    width: 95%;
    line-height: 1.2em;
  }
  .main-index .imag-index {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
  }
  .main-index .imag-index .titulo-imag-index {
    background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
    margin: auto;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    color: #B0795C;
  }
  .main-index .imag-index .imagenes {
    background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-index .imag-index .imagenes img {
    border: 1px solid #1C0824;
    object-fit: cover;
    margin: 0.5rem 0.5rem;
    min-width: 350px;
    max-width: 350px;
    height: 200px;
  }
}
/*
@media screen and (min-width: 768px){
    }    
p::-webkit-scrollbar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 10px;
    background-color: $salmon;
}
p::-webkit-scrollbar-thumb{
    background-color: $bordo;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

*/
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.main_discos {
  width: 100%;
}
.main_discos .div_cuadrado_discos {
  background-color: #1C0824;
  width: 95%;
  border: 1px solid #F7CB84;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.main_discos .div_cuadrado_discos .main_discos_div {
  border: 1px solid #F7CB84;
}
.main_discos .acor-discos {
  border: white;
  width: 95%;
  margin: 1rem auto;
}
.main_discos .acor-discos .accordion {
  background-color: #F7CB84;
  margin-top: 2rem;
}
.main_discos .acor-discos .accordion .accordion-item h2 {
  color: #F7CB84;
  font-family: "Buda", serif;
}
.main_discos .acor-discos .accordion .accordion-item h2 button {
  color: white;
  background-color: #000000;
}
.main_discos .acor-discos .accordion .accordion-item div .accordion-body {
  background-color: #292929;
}
.main_discos .acor-discos .accordion .accordion-item div .accordion-body .main_discos_div {
  text-align: center;
}
.main_discos .acor-discos .accordion .accordion-item div .accordion-body .p-3 {
  width: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.main_discos .floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: #B0795C;
  color: #1C0824;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
.main_discos .floating-btn:hover {
  background-color: #1C0824;
  color: #F7CB84;
}

@media screen and (min-width: 768px) {
  .main_discos {
    margin: auto;
    width: 75%;
    max-width: 1200px;
  }
  .main_discos .div_cuadrado_discos {
    background-color: #1C0824;
    width: 100%;
    border: 1px solid #F7CB84;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .main_discos .div_cuadrado_discos .main_discos_div {
    border: 1px solid #F7CB84;
  }
  .main_discos .div_cuadrado_discos .main_discos_div a img {
    min-width: 150px;
    max-width: 200px;
  }
  .main_discos .acor-discos {
    border: white;
    width: 100%;
    margin: 1rem auto;
  }
  .main_discos .acor-discos .accordion {
    background-color: #F7CB84;
    margin-top: 2rem;
  }
  .main_discos .acor-discos .accordion .accordion-item h2 {
    color: #F7CB84;
    font-family: "Buda", serif;
  }
  .main_discos .acor-discos .accordion .accordion-item h2 button {
    color: white;
    background-color: #1C0824;
  }
  .main_discos .acor-discos .accordion .accordion-item h2 button:hover {
    background-color: #B0795C;
    color: #1C0824;
  }
  .main_discos .acor-discos .accordion .accordion-item div .accordion-body {
    background-color: #230E2D;
  }
  .main_discos .acor-discos .accordion .accordion-item div .accordion-body .main_discos_div {
    text-align: center;
  }
  .main_discos .acor-discos .accordion .accordion-item div .accordion-body .main_discos_div .img_discos {
    width: 200px;
  }
  .main_discos .acor-discos .accordion .accordion-item div .accordion-body .p-3 {
    width: 100%;
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: #B0795C;
    color: #1C0824;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
  }
  .floating-btn:hover {
    background-color: #1C0824;
    color: #F7CB84;
  }
}
/* 
.main_discos{
    width: 100%;
    border: solid red 3px;
    background-color: $c4;
    .div_cuadrado_discos{

        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        .main_discos_div{
              border: $borde-claro;
              a{
              .img_discos{
                width: 60px;
              }
            }
        }
    }
    .acor-discos{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .main_discos{
        background-color: $c4;
        .div_cuadrado_discos{
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            border-top: $borde-claro;
            border-bottom: double white 3px;
            .main_discos_div{
                  border:$borde-claro;
                  a{
                  .img_discos{
                    width: 150px;
                  }
                }
            }
        }
    }
}


*/
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.main_miembros {
  width: 100%;
  margin: auto;
}
.main_miembros .titu_miembros {
  width: 80%;
  margin: 1rem auto 0 auto;
  background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
  font-size: 16px;
  color: #B0795C;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}
.main_miembros .todas_cards {
  width: 100%;
  background-color: #230E2D;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.main_miembros .todas_cards .card {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
  background-color: #1C0824;
}
.main_miembros .todas_cards .card .card-body {
  background-color: #230E2D;
}
.main_miembros .todas_cards .card .card-body .card-title {
  color: #F7CB84;
  font-family: "Buda", serif;
}
.main_miembros .todas_cards .card ul li {
  color: #F7CB84;
  font-family: "Courier New", Courier, monospace;
  background-color: #230E2D;
}
.main_miembros .segunda {
  margin: auto;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #000000;
}
.main_miembros .segunda .titu_segunda {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  color: #B0795C;
  text-align: center;
  background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
}
.main_miembros .segunda .art_artista {
  width: 100%;
  background-color: #1C0824;
  padding: 15px;
}
.main_miembros .segunda .art_artista .nomb_artista {
  color: #F7CB84;
  font-family: "Courier New", Courier, monospace;
}
.main_miembros .segunda .art_artista p {
  color: #F7CB84;
  font-family: "Buda", serif;
}
.main_miembros .floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: #B0795C;
  color: #1C0824;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
.main_miembros .floating-btn:hover {
  background-color: #1C0824;
  color: #F7CB84;
}

@media screen and (min-width: 768px) {
  .main_miembros {
    width: 80%;
    margin: auto;
  }
  .main_miembros .titu_miembros {
    width: fit-content;
    margin: 1rem 0;
    background-color: #F7CB84;
    font-size: 16px;
    color: #1C0824;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    justify-content: center;
    padding: 1rem;
  }
  .main_miembros .todas_cards {
    width: 100%;
    background-color: #230E2D;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main_miembros .todas_cards .card {
    min-width: 100px;
    max-width: 300px;
    padding: 1rem;
    margin: 0.5rem auto;
    background-color: #1C0824;
  }
  .main_miembros .todas_cards .card:hover {
    background-color: #F7CB84;
  }
  .main_miembros .todas_cards .card img {
    max-width: 300px;
    min-width: 150px;
    height: 300px;
    background-size: cover;
  }
  .main_miembros .todas_cards .card .card-body {
    background-color: #230E2D;
  }
  .main_miembros .todas_cards .card .card-body .card-title {
    color: #F7CB84;
    font-family: "Buda", serif;
  }
  .main_miembros .todas_cards .card ul li {
    color: #F7CB84;
    font-family: "Courier New", Courier, monospace;
    background-color: #230E2D;
  }
  .main_miembros .segunda {
    margin: 3rem auto;
    width: 100%;
    padding: 1rem;
    background-color: #F7CB84;
  }
  .main_miembros .segunda .titu_segunda {
    font-family: "Oswald", sans-serif;
  }
  .main_miembros .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: #B0795C;
    color: #1C0824;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
  }
  .main_miembros .floating-btn:hover {
    background-color: #1C0824;
    color: #F7CB84;
  }
}
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.main-histo {
  width: 100%;
  margin: 1rem auto 0 auto;
  background-color: #230E2D;
}
.main-histo .container {
  font-family: "Courier New", Courier, monospace;
  color: #F7CB84;
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 6px 6px;
  grid-auto-flow: row;
  grid-template-areas: "article1" "article2" "aside" "fotos";
}
.main-histo .container .article1 h1 {
  padding-top: 2rem;
  color: #B0795C;
}
.main-histo .container .article1 p {
  margin: auto;
  font-family: "Buda", serif;
  width: 100%;
  height: 500px;
  padding: 1rem;
  grid-area: article1;
  background-color: #000000;
  overflow-y: scroll;
  color: #F7CB84;
}
.main-histo .container .article2 {
  padding: 1rem;
  grid-area: article2;
  background-color: #1C0824;
  color: #B0795C;
}
.main-histo .container .aside {
  overflow: scroll;
  margin-bottom: 2rem;
  padding: 10px;
  grid-area: aside;
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.main-histo .container .aside .card {
  background-color: #1C0824;
}
.main-histo .container .aside .card .card-body .card-title {
  font-family: "Buda", serif;
  color: #B0795C;
}
.main-histo .container .aside .card .card-body .card-text {
  color: #B0795C;
}
.main-histo .container .aside .card .card-body a {
  background-color: #B0795C;
  border: 1px solid #F7CB84;
  color: #1C0824;
}
.main-histo .container .fotos {
  background-color: #000000;
  width: 100%;
  margin: auto;
  text-align: center;
}
.main-histo .container .fotos .fotos_abajo {
  width: 100%;
}
.main-histo .container .fotos .fotos_abajo img {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
}
.main-histo .floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: #B0795C;
  color: #1C0824;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
.main-histo .floating-btn:hover {
  background-color: #1C0824;
  color: #F7CB84;
}

@media screen and (min-width: 768px) {
  .container {
    width: 60%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "article1 article1 article1 aside" "article2 article2 article2 aside" "fotos fotos fotos fotos";
  }
  .container .article1 {
    color: #000000;
    background-color: #1C0824;
    grid-area: article1;
  }
  .container .article1 h1 {
    background-color: #230E2D;
  }
  .container .article1 p {
    color: yellow;
    overflow-y: scroll;
  }
  .container .article2 {
    grid-area: article2;
    background-color: #000000;
    border: 1px solid #1C0824;
    color: white;
  }
  .container .article2 h1 {
    color: #B0795C;
  }
  .container .article2 p {
    color: white;
  }
  .container .aside {
    height: 100%;
    grid-area: aside;
    background-color: #000000;
    display: flex;
    flex-direction: row;
  }
  .container .aside .card {
    width: 49%;
    max-width: 400px;
    align-items: center;
  }
  .container .fotos {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    grid-area: fotos;
    background-color: white;
    color: #000000;
  }
  .container .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: #B0795C;
    color: #1C0824;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
  }
  .container .floating-btn:hover {
    background-color: #1C0824;
    color: #F7CB84;
  }
}
/* 


@media screen and (min-width: 1200px){
    .main-historia{
    .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow:inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article2 article2 article2 article2 aside aside"
      "fotos fotos fotos fotos fotos fotos";  
    .article1 {

        font-family: Arial, Helvetica, sans-serif;
        padding: 2rem;
        grid-area: article1;
        background-color: $bg-negro;
        color: $texto-blanco;
        border: $borde-claro;
        overflow-y: scroll;         
    }
    .article2 {
        padding: 2rem;
        grid-area: article2; 
        color: $texto-negro;
        background-color:$bg-negro;
        padding: 10px;
    }
    .aside {
        width: 100%;
        height: 100%;
        grid-area: aside;
        background-color: $bg-negro;
        scrollbar-width: none;
        .card{
           width: fit-content;
           align-items: center
        }
    }
    .fotos {
        padding: 2rem;
        grid-area: fotos; 
        background-color: $bg-negro;
        color: $texto-blanco;
        border: $borde-oscuro;
    }
}
}
}
/* HISTORIA*/
/* COLORES BASE */
/* COLORES BASE */
/* TEXTOS */
/* TEXTOS */
/* BORDES */
/* BORDES */
/* DECORACIÓN */
/* DECORACIÓN */
.main_contacto {
  margin: 1rem;
  background-color: #1C0824;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
}
.main_contacto h1 {
  width: 100%;
  color: #B0795C;
  text-align: center;
  padding: 1rem;
  font-family: "Buda", serif;
}
.main_contacto .form_contacto {
  width: 100%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}
.main_contacto .form_contacto .mb-3 label {
  font-family: "Buda", serif;
  color: #B0795C;
  font-size: x-large;
}
.main_contacto .form_contacto .mb-3 input {
  font-family: "Buda", serif;
  background-color: #000000;
  color: #B0795C;
  border: #B0795C solid 1px;
}
.main_contacto .form_contacto button {
  background-color: #B0795C;
}
.main_contacto .divv_ifr {
  text-align: center;
  padding: 1rem;
}
.main_contacto .divv_ifr h2 {
  font-size: 18px;
  font-family: "Buda", serif;
  text-align: center;
  color: #B0795C;
}
.main_contacto .divv_ifr iframe {
  width: 100%;
  padding-top: 20px;
  height: 350px;
}

@media screen and (min-width: 768px) {
  .main_contacto {
    min-height: 84vh;
    background-color: #230E2D;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main_contacto h1 {
    width: 100%;
    color: #B0795C;
    text-align: center;
    padding: 1rem;
    font-family: "Buda", serif;
  }
  .main_contacto .form_contacto {
    width: 50%;
    background-color: #1C0824;
  }
  .main_contacto .form_contacto .mb-3 label {
    color: #B0795C;
    font-size: x-large;
  }
  .main_contacto .form_contacto .mb-3 input {
    background-color: #230E2D;
  }
  .main_contacto .form_contacto .mb-3 input:hover {
    background-color: rgba(35, 14, 45, 0.5);
  }
  .main_contacto .form_contacto .mb-3 input:focus {
    color: #1C0824;
    background-color: #B0795C;
  }
  .main_contacto .divv_ifr {
    width: 49%;
    height: 100%;
  }
  .main_contacto .divv_ifr h2 {
    font-size: 25px;
    color: #B0795C;
    background-color: #1C0824;
    padding: 15px;
    margin: 3px 15%;
  }
  .main_contacto .divv_ifr iframe {
    width: 100%;
    height: 400px;
  }
}

/*# sourceMappingURL=estilo.css.map */
