@import "var";


.main_discos{
    width: 100%;
    
    .titular-discos{
        color: $c1;
        text-align: center;
        margin-top: 3rem;
        font-family: $font-f-CNew;
        font-size: x-large;
        background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
    }

    .div_cuadrado_discos{

        background-color: $c4;
        width: 95%;
        border: $borde-claro;
        margin: 1rem auto;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        .main_discos_div{
            border: $borde-claro;
            a{
                img{

                }
            }
        }
    }
    .acor-discos{

        border: $bg-blanco;
        width: 95%;
        margin: 1rem auto;
        .accordion{
            background-color: $c1;
            margin-top: 2rem;
            .accordion-item{
                h2{
                    color: $c1;
                    font-family: $font-f-Buda;
                    button{
                        color: $texto-blanco;
                        background-color: $bg-negro;
                    }
                }
                div{
                    .accordion-body{
                        background-color: $bf-gris;
                        
                        .main_discos_div{
                            text-align: center;
                            .img_discos{
                            }
                        }
                        .p-3{
                            width: 100%;
                            color: $texto-blanco;
                            font-family: $font-f-CNew;
                            }
                    }
                }
            }
        }
    }
    .floating-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 5px 10px;
        background-color: $c2;
        color: $c4;
        border-radius: 5px;
        cursor: pointer;
        z-index: 999;
        &:hover{
            background-color: $c4;
            color: $c1;
             }
        }
}

@media screen and (min-width: 768px){
    .main_discos{
        margin: auto;
        width: 75%;
        max-width: 1200px;

        .titular-discos{
            color: $c1;
            text-align: center;
            margin-top: 6rem;
            font-family: $font-f-CNew;
            font-size: xx-large;
            background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
        }
        .div_cuadrado_discos{
            background-color: $c4;
            width: 100%;
            border: $borde-claro;
            margin: 2rem auto;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            .main_discos_div{
                border: $borde-claro;
                ;
                a{
                    img{
                    min-width: 150px;
                    max-width: 200px;
                    }
                    
                }
            }
        }
        .acor-discos{
            border: $bg-blanco;
            width: 100%;
            margin: 1rem auto;
            .accordion{
                background-color: $c1;
                margin-top: 2rem;
                .accordion-item{
                    h2{
                        color: $c1;
                        font-family: $font-f-Buda;
                        
                        button{
                            color: $texto-blanco;
                            background-color: $c4;
                            &:hover{
                                background-color: $c2;
                                color: $c4;
                            }
                        }
                    }
                    div{
                        .accordion-body{
                            background-color: $c3;
                            
                            .main_discos_div{
                                text-align: center;
                                .img_discos{
                                    width: 200px;
                                }
                            }
                            .p-3{
                                width: 100%;
                                color: $texto-blanco;
                                font-family: $font-f-CNew;
                                }
                        }
                    }
                }
            }
        }
    }
    .floating-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 5px 10px;
        background-color: $c2;
        color: $c4;
        border-radius: 5px;
        cursor: pointer;
        z-index: 999;
        &:hover{
            background-color: $c4;
            color: $c1;
            }
    }
}
