@import "var";

@mixin button-styles {
    padding: 5px 10px;
    background-color: $c2;
    color: $c4;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;

    &:hover {
        background-color: $c4;
        color: $c1;
    }
}




.main-histo{
    .floating-btn{
        position: fixed;
        bottom: 50px;
        right: 20px;
        @include button-styles;
        &:hover{
            background-color: $c4;
            color: $c1;
        }
    }
    .titular-historia{
        color:white;
        width: 100%;
        text-align: center;
        margin: 11rem auto;
        font-family: $font-f-Buda;
        font-size: 40px;
        animation: rotateVertical 2s infinite;
        @keyframes rotateVertical {
            0% {
                transform: rotateX(0deg);
            }
            50% {
                transform: rotateX(360deg);
            }
            100% {
                transform: rotateX(360deg);
            }
        }              
    }
    width: 100%;
    margin: auto;
    padding: 0;

    .container {
    height: fit-content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "article1"
      "article2"
      "aside"
      "fotos";
        .article1 {
            border-top: solid white 1px;
            width: 100%;
            height: 500px;
            grid-area: article1;
            overflow-y: scroll;
            .article1-h{
                width: 100%;
                color: $c1;
                font-size: 2em;
                font-family: 'Courier New', Courier, monospace;
            }
            p{
                color: $c2;
            }
        }
        .article2 {
            margin-top: 2rem;
            background-color: $c4;
            padding: 1rem;
            .article2-h{
                width: 100%;
                color: $c1;
                font-size: 2em;
                font-family: 'Courier New', Courier, monospace;
                text-align: right;
            }
            p{
                color:$c2;
                padding-top: 0.5rem;
            }
        }
        .aside {
            grid-area: aside;
            width: 100%;
            margin: 1rem auto;
            padding: 0.5rem;
            .scro{
                margin: 1rem;
                .card{
                    margin: 1rem auto;
                    background-color: $c1;
                    a{
                    }
                    img{
                    }
                    .card-body{
                        .card-title{
                            color: $c4;
                            font-size: small;
                        }
                        .card-text{
                            color: $c2;
                            font-size: small;
                        }
                    }
                }
            }
        }
        .fotos {
            width: 100%;
            background-color: $c4;
            text-align: center;
            padding: 0.5rem;
            grid-area: fotos;
            margin: 0 auto 1.5rem auto;
            .fotos_abajo{
              img{
                  width: 250px;
                  border: $borde-claro;
                  margin: 0.2rem auto;
                }
            }
        }
    }
}

/*------------------------------------------------------------- */

@media screen and (min-width: 768px){
.main-histo{
    width: 100%;
    height: auto;
    .titular-historia{
        color:white;
        width: 100%;
        text-align: center;
        margin: 12rem auto;
        font-family: $font-f-Buda;
        font-size: 100px;
        animation: rotateVertical 2s infinite;
        @keyframes rotateVertical {
            0% {
                transform: rotateX(0deg);
            }
            50% {
                transform: rotateX(360deg);
            }
            100% {
                transform: rotateX(360deg);
            }
        }
    }
    .container {
        height: auto;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .7fr .3fr;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
        "article1 article1 aside"
        "article2 article2 aside"
        "fotos fotos fotos";
        .article1{
          border-top: none;
          grid-area: article1;
          background-color: $c4;
          height: auto;
          overflow-y: hidden;
          padding: 1rem;
          .article1-h{
            color: $c2;
            font-size: 28px;
            font-family: 'Courier New', Courier, monospace;
          }
          p{
            background-color: $c3;
            color: $c1;
            font-family: $font-f-Buda;
          }
          
        }
        .article2{
          grid-area: article2;
          background-color: $c4;
          height: auto;
          padding: 1rem;


          .article2-h{
            color: $c1;
            font-size: 28px;
            font-family: 'Courier New', Courier, monospace;
          }
          p{
            background-color: $c4 ;
            color: $c2;
            font-family: $font-f-Buda;
            height: auto;
          }
        }
        .aside{
          grid-area: aside;
          background-color: $c3;
          height: auto;
          width: 100%;
          .scro{
            width: 100%;
            position: sticky;
            top: 2vh;
            height: auto;
            margin: 0.5rem auto;
            .card{
                background-color: $c4;/* c4*/
                margin: 5px auto;
                width: 95%;
                max-height: 270px;
                text-align: center;
                padding: 0.5rem;
                a{
                }
                img{
                    max-width: 250px;
                    min-width: 250px;
                }
                .card-body{
                    .card-title{
                        font-size: small;
                        color: $c1;
                    }
                    .card-text{
                        font-size: small;
                        color: $c1;
                    }
                }
            }
          }
        }
        .fotos{
          grid-area: fotos;
          background-color: $c4;
          height: fit-content;
          padding: 0.5rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .fotos_abajo{
            padding: 0.5rem;
            width: 250px;
            img{
                max-width: 100%;
                min-width: 300px;
            }
          }
        }
    }  
}      
}



