@import "var";

.main-histo{

    width: 100%;
    margin: 1rem auto 0 auto ;
    background-color: $c3;
    .container{
        font-family: 'Courier New', Courier, monospace;
        color: $c1;
        margin: auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 6px 6px;
        grid-auto-flow: row;
        grid-template-areas:
        "article1"
        "article2"
        "aside"
        "fotos";  
        .article1{
            h1{
                padding-top: 2rem;
                color: $c2
            }
            p{
                margin: auto;
                font-family: $font-f-Buda;
                width: 100%;
                height: 500px;
                padding: 1rem;
                grid-area: article1;
                background-color:$bg-negro;
                overflow-y: scroll; 
                color: $c1;
            }
        }
        .article2{
            padding: 1rem;
            grid-area: article2; 
            background-color:$c4;
            color:$c2;
        }
        .aside{
            overflow: scroll;
            margin-bottom: 2rem;
            padding: 10px;
            grid-area: aside; 
            background-color: $bg-negro;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            .card{
                background-color: $c4;
                a{
                    img{

                    }
                }
                .card-body{
                    .card-title{
                        font-family: $font-f-Buda;
                        color: $c2

                    }
                    .card-text{
                        color: $c2;
                    }
                    a{
                        background-color: $c2;
                        border: $borde-claro;
                        color: $c4;
                    }
                }
            }
        }
        .fotos{
            background-color: $bg-negro;
            width: 100%;
            margin: auto;
            text-align: center;
            .fotos_abajo{
                width: 100%;
                img{
                    margin: auto;
                    width: 100%;
                    
                    padding: 0.5rem;
                }
            }
        }
    }
    .floating-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 5px 10px;
        background-color: $c2;
        color: $c4;
        border-radius: 5px;
        cursor: pointer;
        z-index: 999;
        &:hover{
            background-color: $c4;
            color: $c1;
             }
        }
}
@media screen and (min-width: 768px){
    .container{
        width: 90%;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "article1 article1 article1 aside"
          "article2 article2 article2 aside"
          "aside aside aside aside"
          "fotos fotos fotos fotos"; 
        .article1{
            width: 100%;
            color: $texto-negro;
            background-color: $c4;
            grid-area: article1;
            h1{
                background-color: $c3;
                
            }
            p{
                color: yellow;
                overflow-y: scroll;
            }
        }
        .article2 {
            grid-area: article2; 
            background-color: $bg-negro;
            border: $borde-oscuro;
            color: white;
            h1{
                color: $c2;
            }
            p{
                color: $texto-blanco;
            }
        }
        .aside {
            width: 100%;
            height: 100%;
            grid-area: aside;
            background-color: $bg-negro;
            display: flex;
            flex-direction: row;

            .card{
               width: 49%;
               max-width: 400px;
               align-items: center;
               a{
                img{
                    
                }
               }
            }
        }
        .fotos {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 2rem;
            grid-area: fotos; 
            background-color: $bg-blanco;
            color: $texto-negro;
        }
        .floating-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 5px 10px;
            background-color: $c2;
            color: $c4;
            border-radius: 5px;
            cursor: pointer;
            z-index: 999;
            &:hover{
                background-color: $c4;
                color: $c1;
                }
        }
    }
}


/* 

    
@media screen and (min-width: 1200px){
    .main-historia{
    .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow:inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article1 article1 article1 article1 aside aside"
      "article2 article2 article2 article2 aside aside"
      "fotos fotos fotos fotos fotos fotos";  
    .article1 {
        
        font-family: Arial, Helvetica, sans-serif;
        padding: 2rem;
        grid-area: article1;
        background-color: $bg-negro;
        color: $texto-blanco;
        border: $borde-claro;
        overflow-y: scroll;         
    }
    .article2 {
        padding: 2rem;
        grid-area: article2; 
        color: $texto-negro;
        background-color:$bg-negro;
        padding: 10px;
    }
    .aside {
        width: 100%;
        height: 100%;
        grid-area: aside;
        background-color: $bg-negro;
        scrollbar-width: none;
        .card{
           width: fit-content;
           align-items: center
        }
    }
    .fotos {
        padding: 2rem;
        grid-area: fotos; 
        background-color: $bg-negro;
        color: $texto-blanco;
        border: $borde-oscuro;
    }
}
}
}
/* HISTORIA*/

