@import "var";

.main-index{
    width: 100%;
    margin: auto;
    .div-foto-1-index{
        padding: 1rem;
        background-color: $bg-negro;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .foto-1-index{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .section-1{
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .div-50-aniver{
            img{
                width:100% ;
            }
        }
        .texto-50-aniver{
            background-color: $c3;
            .titulo-texto-50-aniver{
                padding: 1rem;
                margin: 1rem auto;
                color: $c2;
                font-family: $font-f-Pr;
                text-align: center;
                padding: 0.5rem 0;
                background-color: $c4;
                width: 90%;
            }
            .p50ani{
                padding: 0 10px;
                color: $c1;
                font-family: $font-f-Buda;
                font-size: 1.2 em;
            }
        }
    }
    .imag-index{
        padding: 1rem 0;
        margin: 1rem auto;
        background-color: $c2;
        border-radius: 10px;
        width: 95%;
        
        
        .titulo-imag-index{
            font-family: $font-f-Buda;
            font-size: 3em;
            color: $c4;
            padding: 1.5rem 0 0 0;
            text-align: center;
            
            
        }
        .imagenes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                border: $borde-oscuro;
                border: solid 3px;
                width: 90%;
                object-fit: cover;
                margin: 0.5rem 0;
                max-width: 768px;
            }
        }
    }

}
@media screen and (min-width: 768px){
    .main-index{
        width: 95%;
        
        .div-foto-1-index{
            width: 100%;
            margin-bottom: 2.5rem;
        }
        .section-1{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            .div-50-aniver{
                width: 50%;                
            }
            .texto-50-aniver{                
                width: 50%;
                background-color: $c4;
                .titulo-texto-50-aniver{
                    margin-top: 0;
                    width: 100%;
                    color: $texto-blanco;
                    background-color: $c3;
                    font-family: $font-f-CNew;
                }
                .p50ani{
                    margin: auto;
                    color: $texto-blanco;
                    font-size: 1.2em;
                    width: 95%;
                    line-height: 1.2em;
                    
                }
            }
        }
        .imag-index{
            background-color: rgba(255, 0, 0, 0);
            width: 100%;
            .titulo-imag-index{
                background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
                margin: auto;
                width: 100%;
            }
            .imagenes{
                background-color: $bg-blanco;
                margin: auto;
                width: fit-content;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                img{
                    border: $borde-oscuro;
                    object-fit:cover;
                    margin: 0.5rem 0.5rem;
                    min-width: 350px;
                    max-width: 350px;
                    height: 200px;
                }
            }
        }
    }
}  


/*
@media screen and (min-width: 768px){
    }    
p::-webkit-scrollbar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 10px;
    background-color: $salmon;
}
p::-webkit-scrollbar-thumb{
    background-color: $bordo;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

*/