@import "var";


.main_miembros{
  width: 100%;
  margin: auto;
  .titu_miembros{
    width: 80%;
    margin: 1rem auto 0 auto;
    background-image: linear-gradient(to right, transparent 0%, rgb(66, 16, 56) 50%, transparent 100%);
    font-size: x-large;
    color: $c1;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
  }
  .todas_cards{
    width: 100%;
    background-color: $c3;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    .card{
      width: 100%;
      padding: 1rem;
      margin: 0.5rem auto;
      background-color: $c4;
      img{

      }
      .card-body{
        background-color: $c3;
        .card-title{
          color: $c1;
          font-family: $font-f-Buda;
        } 
      }
      ul{
       li{
        color: $c1;
        font-family: $font-f-CNew;
        background-color: $c3;
       } 
      }
    }
  }
  .segunda{
    margin:auto;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: $bg-negro;
    .titu_segunda{
      @include titulos-miembros;
    }
    .art_artista_izq{
      width: 100%;
      background-color: $c4;
      padding: 15px;      
      .nomb_artista_izq{
        color: $c1;
        font-family: $font-f-CNew;
      }
      p{
        color: $c1;
        font-family: $font-f-Buda;
      }
    }
    .art_artista_der{
      width: 100%;
      background-color: $c3;
      padding: 15px;      
      .nomb_artista_der{
        text-align: right;
        color: $c2;
        font-family: $font-f-CNew;
      }
      p{
        color: $c2;
        font-family: $font-f-Buda;
      }
    }
  }
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: $c2;
    color: $c4;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    &:hover{
        background-color: $c4;
        color: $c1;
        }
  }
}


@media screen and (min-width: 768px){
  
  .main_miembros{
    width: 80%;
    margin: auto;
    .titu_miembros{
      width: fit-content;
      margin: 6rem auto 1rem auto;
      font-size: xx-large;
      color: $c1;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      justify-content: center;
      padding: 1rem;
    }
    .todas_cards{
      width: 100%;
      background-color: $c3;
      padding: 1rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .card{
        min-width: 100px;
        max-width: 300px;
        padding: 1rem;
        margin: 0.5rem auto;
        background-color: $c4;
        overflow: hidden; 
        &:hover{
          background-color: $c1;
        }
        img{
          max-width: 250px;
          min-width: 150px;
          height: 300px;
          background-size: cover;
          object-fit: cover;
          
        }
        .card-body{
          background-color: $c3;
          .card-title{
            color: $c1;
            font-family: $font-f-Buda;
          } 
        }
        ul{
         li{
          color: $c1;
          font-family: $font-f-CNew;
          background-color: $c3;
         } 
        }
      }
    }
    .segunda{
      margin: 3rem auto;
      width: 100%;
      padding: 1rem;
      background-color: $c3;
      .titu_segunda{
        width: fit-content;
        margin: 1rem auto;
        font-size: xx-large;
        color: $c1;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        justify-content: center;
        padding: 1rem;
      }
    }
    .floating-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 5px 10px;
      background-color: $c2;
      color: $c4;
      border-radius: 5px;
      cursor: pointer;
      z-index: 999;
      &:hover{
          background-color: $c4;
          color: $c1;
          }
    }
  }
}


