@import "var";


.main_miembros{
  width: 100%;
  margin: auto;
  .titu_miembros{
    width: 80%;
    margin: 1rem auto;
    background-color: $c1;
    font-size: 16px;
    color: $c4;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
  }
  .todas_cards{
    width: 100%;
    background-color: $c3;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    .card{
      width: 100%;
      padding: 1rem;
      margin: 0.5rem auto;
      background-color: $c4;
      img{

      }
      .card-body{
        background-color: $c3;
        .card-title{
          color: $c1;
          font-family: $font-f-Buda;
        } 
      }
      ul{
       li{
        color: $c1;
        font-family: $font-f-CNew;
        background-color: $c3;
       } 
      }
    }
  }
  .segunda{
    margin: 0.5rem auto;
    width: 100%;
    padding: 1rem;
    background-color: $bg-negro;
    .titu_segunda{
      width: 100%;
      font-family: $font-f-osw;
      color: $c3;
      text-align: center;
    }
    .art_artista{
      width: 100%;
      background-color: $c4;
      padding: 3px;
      .nomb_artista{
        color: $c1;
      }
      p{
        color: $c1;
        font-family: $font-f-CNew;
      }
    }
  }
  
}


@media screen and (min-width: 768px){
  
  .main_miembros{
    width: 80%;
    margin: auto;
    .titu_miembros{
      width: fit-content;
      margin: 1rem 0;
      background-color: $c1;
      font-size: 16px;
      color: $c4;
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
      justify-content: center;
      padding: 1rem;
    }
    .todas_cards{
      width: 100%;
      background-color: $c3;
      padding: 1rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .card{
        min-width: 100px;
        max-width: 300px;
        padding: 1rem;
        margin: 0.5rem auto;
        background-color: $c4;
        &:hover{
          background-color: $c1;
        }
        img{
          max-width: 300px;
          min-width: 150px;
          height: 300px;
          background-size: cover;
          
        }
        .card-body{
          background-color: $c3;
          .card-title{
            color: $c1;
            font-family: $font-f-Buda;
          } 
        }
        ul{
         li{
          color: $c1;
          font-family: $font-f-CNew;
          background-color: $c3;
         } 
        }
      }
    }
    .segunda{
      margin: 3rem auto;
      width: 100%;
      padding: 1rem;
      background-color: $c1;
      .titu_segunda{
        font-family: $font-f-osw;
      }
    }
    .floating-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 5px 10px;
      background-color: $c2;
      color: $c4;
      border-radius: 5px;
      cursor: pointer;
      z-index: 999;
      &:hover{
          background-color: $c4;
          color: $c1;
          }
    }
  }
}


