
/* COLORES BASE */
$c1: #1C0824;
$c2: #230E2D;
$c3: #B0795C;
$c4: #F7CB84;


/*
$c4: #1C0824;
$c3: #230E2D;
$c2: #B0795C;
$c1: #F7CB84;
*/

$bg-blanco: #ffff;
$bf-gris: #292929;
$bg-negro: #000000;
/* COLORES BASE */



/* TEXTOS */
$texto-blanco: #ffff;
$texto-negro: #000000;


$font-f-CNew:'Courier New', Courier, monospace;
$font-f-osw: "Oswald", sans-serif;
$font-f-Pr: "Protest Riot", sans-serif;
$font-f-Buda: "Buda", serif;
/* TEXTOS */



/* BORDES */
$borde-oscuro: 1px solid #1C0824;
$borde-medio: 1px solid #B0795C;
$borde-claro: 1px solid #F7CB84;
/* BORDES */

/* DECORACIÓN */
/* DECORACIÓN */